#s1{
   text-align: justify;
   
}
#s2{
  
}
body{
    background-image: url(https://media.glassdoor.com/l/76/18/fd/be/sipcot-it-park-chennai-odc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-;
}
#mar
{
 margin-left: 900px;
}
a{
    padding-left: 0px;
    text-decoration: none;
    color: black;
}
#s3{

}
img
{
opacity: 0.2;
}